<app-header></app-header>
<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative" *ngFor="let blog of blogs">
          <h2 class="text-base font-semibold mb-4 text-red-900">{{ blog.titulo }}</h2>
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <a routerLink="/user/{{blog.id}}/details">
            <img
              src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-01.jpg"
              alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
              class="h-full w-full object-cover object-center"
            /></a>
          </div>
          <h3 class="mt-6 text-sm text-gray-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              {{ blog.descripcion }}
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
